USE [master]
GO
/****** Object:  Database [BM_Solutions]    Script Date: 20/09/2017 1:16:48 AM ******/
CREATE DATABASE [BM_Solutions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BM_Solutions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BM_Solutions.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BM_Solutions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BM_Solutions_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BM_Solutions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BM_Solutions]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20/09/2017 1:16:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AppRoles]    Script Date: 20/09/2017 1:16:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AppRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppUserClaims]    Script Date: 20/09/2017 1:16:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserClaims](
	[UserId] [nvarchar](128) NOT NULL,
	[Id] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[AppUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AppUserClaims] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppUserLogins]    Script Date: 20/09/2017 1:16:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[ProviderKey] [nvarchar](max) NULL,
	[AppUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AppUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppUserRoles]    Script Date: 20/09/2017 1:16:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[IdentityRole_Id] [nvarchar](128) NULL,
	[AppUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AppUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 20/09/2017 1:16:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AppUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietThuChis]    Script Date: 20/09/2017 1:16:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietThuChis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[DuaAnId] [varchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[TienChi] [decimal](18, 2) NULL,
	[TienThu] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](100) NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietThuChis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DuAns]    Script Date: 20/09/2017 1:16:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DuAns](
	[Id] [varchar](50) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[NgayTao] [datetime] NULL,
	[ThoiGianDuTinh] [datetime] NULL,
	[LoiNhuanDuTinh] [decimal](18, 2) NULL,
	[TienChiDuTinh] [decimal](18, 2) NULL,
	[TienChiThucTe] [decimal](18, 2) NULL,
	[TienThuDuTinh] [decimal](18, 2) NULL,
	[TienThuThucTe] [decimal](18, 2) NULL,
	[LoiNhuanThucTe] [decimal](18, 2) NULL,
	[NoiDung] [nvarchar](500) NULL,
	[GhiChu] [nvarchar](100) NULL,
	[TrangThai] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.DuAns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Errors]    Script Date: 20/09/2017 1:16:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Errors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 20/09/2017 1:16:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CanRead] [bit] NOT NULL,
	[CanUpdate] [bit] NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[DuaAnId] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AppRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'98265807-c650-4a2d-8720-dcf84490d597', N'Admin1', N'abc', N'AppRole')
INSERT [dbo].[AppRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'a1851762-399c-4149-9426-a1daa0ceca02', N'Member', N'Thành viên', N'AppRole')
INSERT [dbo].[AppRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'a47aea00-6160-4df4-bda9-c3bb1e879c3e', N'Admin', N'Quản trị', N'AppRole')
INSERT [dbo].[AppUserRoles] ([UserId], [RoleId], [IdentityRole_Id], [AppUser_Id]) VALUES (N'52d32b51-0ddf-4bb0-a61e-4da30b09187c', N'a47aea00-6160-4df4-bda9-c3bb1e879c3e', NULL, NULL)
INSERT [dbo].[AppUsers] ([Id], [FullName], [Status], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'52d32b51-0ddf-4bb0-a61e-4da30b09187c', N'Admin', 1, N'tedu.international@gmail.com', 1, N'AKNhyJv/719RHald0bJRdiwkg+czbTDi3ZkGeJChl/ebbMtXd2Wa8sRvC7zxDhWiqA==', N'c67449b6-3fb1-4434-9d6d-946f278eb021', NULL, 0, 0, NULL, 0, 0, N'admin')
INSERT [dbo].[AppUsers] ([Id], [FullName], [Status], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'52d32b51-0ddf-4bb0-a61e-4da30b09187d', N'Admin2', 1, N'tedu.international@gmail.com', 1, N'AKNhyJv/719RHald0bJRdiwkg+czbTDi3ZkGeJChl/ebbMtXd2Wa8sRvC7zxDhWiqA==', N'c67449b6-3fb1-4434-9d6d-946f278eb021', NULL, 0, 0, NULL, 0, 0, N'admin')
INSERT [dbo].[DuAns] ([Id], [Ten], [NgayTao], [ThoiGianDuTinh], [LoiNhuanDuTinh], [TienChiDuTinh], [TienChiThucTe], [TienThuDuTinh], [TienThuThucTe], [LoiNhuanThucTe], [NoiDung], [GhiChu], [TrangThai], [IsDelete]) VALUES (N'12312', N'123123', CAST(N'2017-09-20 00:00:00.000' AS DateTime), CAST(N'2017-09-20 00:00:00.000' AS DateTime), CAST(312312.00 AS Decimal(18, 2)), CAST(12312.00 AS Decimal(18, 2)), NULL, CAST(123.00 AS Decimal(18, 2)), NULL, NULL, N'<p>1231</p>', NULL, 0, 0)
INSERT [dbo].[DuAns] ([Id], [Ten], [NgayTao], [ThoiGianDuTinh], [LoiNhuanDuTinh], [TienChiDuTinh], [TienChiThucTe], [TienThuDuTinh], [TienThuThucTe], [LoiNhuanThucTe], [NoiDung], [GhiChu], [TrangThai], [IsDelete]) VALUES (N'GBook', N'Demo 1', CAST(N'2017-01-01 00:00:00.000' AS DateTime), CAST(N'2018-01-01 00:00:00.000' AS DateTime), CAST(100000000.00 AS Decimal(18, 2)), CAST(100000000.00 AS Decimal(18, 2)), CAST(100000000.00 AS Decimal(18, 2)), CAST(100000000.00 AS Decimal(18, 2)), CAST(100000000.00 AS Decimal(18, 2)), CAST(100000000.00 AS Decimal(18, 2)), N'Nội dụng...', N'Ghi chú...', 1, 0)
INSERT [dbo].[DuAns] ([Id], [Ten], [NgayTao], [ThoiGianDuTinh], [LoiNhuanDuTinh], [TienChiDuTinh], [TienChiThucTe], [TienThuDuTinh], [TienThuThucTe], [LoiNhuanThucTe], [NoiDung], [GhiChu], [TrangThai], [IsDelete]) VALUES (N'GBook2', N'Demo 2', CAST(N'2017-01-01 00:00:00.000' AS DateTime), CAST(N'2018-01-01 00:00:00.000' AS DateTime), CAST(100000000.00 AS Decimal(18, 2)), CAST(100000000.00 AS Decimal(18, 2)), CAST(100000000.00 AS Decimal(18, 2)), CAST(100000000.00 AS Decimal(18, 2)), CAST(100000000.00 AS Decimal(18, 2)), CAST(100000000.00 AS Decimal(18, 2)), N'Nội dụng...', N'Ghi chú...', 1, 0)
SET IDENTITY_INSERT [dbo].[Errors] ON 

INSERT [dbo].[Errors] ([Id], [Message], [StackTrace], [CreatedDate]) VALUES (1, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[BM_Solution.Model.Models.AppRole, BM-Solution.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[BM_Solution.Web.Models.System.ApplicationRoleViewModel, BM-Solution.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at BM_Solution.Web.Controllers.AppRoleController.<>c__DisplayClass1_0.<GetListPaging>b__0() in D:\Source\BM-Solutions\BM-Solution.Web\Controllers\AppRoleController.cs:line 38
   at BM_Solution.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 function) in D:\Source\BM-Solutions\BM-Solution.Web\Infrastructure\Core\ApiControllerBase.cs:line 46', CAST(N'2017-09-18 23:04:42.103' AS DateTime))
INSERT [dbo].[Errors] ([Id], [Message], [StackTrace], [CreatedDate]) VALUES (2, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[BM_Solution.Model.Models.AppRole, BM-Solution.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[BM_Solution.Web.Models.System.ApplicationRoleViewModel, BM-Solution.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at BM_Solution.Web.Controllers.AppRoleController.<>c__DisplayClass1_0.<GetListPaging>b__0() in D:\Source\BM-Solutions\BM-Solution.Web\Controllers\AppRoleController.cs:line 38
   at BM_Solution.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 function) in D:\Source\BM-Solutions\BM-Solution.Web\Infrastructure\Core\ApiControllerBase.cs:line 46', CAST(N'2017-09-18 23:06:39.797' AS DateTime))
INSERT [dbo].[Errors] ([Id], [Message], [StackTrace], [CreatedDate]) VALUES (3, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[BM_Solution.Model.Models.AppRole, BM-Solution.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[BM_Solution.Web.Models.System.ApplicationRoleViewModel, BM-Solution.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at BM_Solution.Web.Controllers.AppRoleController.<>c__DisplayClass1_0.<GetListPaging>b__0() in D:\Source\BM-Solutions\BM-Solution.Web\Controllers\AppRoleController.cs:line 38
   at BM_Solution.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 function) in D:\Source\BM-Solutions\BM-Solution.Web\Infrastructure\Core\ApiControllerBase.cs:line 46', CAST(N'2017-09-18 23:09:17.977' AS DateTime))
INSERT [dbo].[Errors] ([Id], [Message], [StackTrace], [CreatedDate]) VALUES (4, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[BM_Solution.Model.Models.AppRole, BM-Solution.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[BM_Solution.Web.Models.System.ApplicationRoleViewModel, BM-Solution.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at BM_Solution.Web.Controllers.AppRoleController.<>c__DisplayClass1_0.<GetListPaging>b__0() in D:\Source\BM-Solutions\BM-Solution.Web\Controllers\AppRoleController.cs:line 38
   at BM_Solution.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 function) in D:\Source\BM-Solutions\BM-Solution.Web\Infrastructure\Core\ApiControllerBase.cs:line 46', CAST(N'2017-09-18 23:09:42.827' AS DateTime))
INSERT [dbo].[Errors] ([Id], [Message], [StackTrace], [CreatedDate]) VALUES (5, N'Object reference not set to an instance of an object.', N'   at System.Data.Entity.Internal.Linq.InternalSet`1.get_Expression()
   at System.Data.Entity.Infrastructure.DbQuery`1.System.Linq.IQueryable.get_Expression()
   at System.Linq.Queryable.Count[TSource](IQueryable`1 source)
   at BM_Solution.Web.Controllers.AppRoleController.<>c__DisplayClass1_0.<GetListPaging>b__0()
   at BM_Solution.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 function)', CAST(N'2017-09-18 23:16:47.090' AS DateTime))
INSERT [dbo].[Errors] ([Id], [Message], [StackTrace], [CreatedDate]) VALUES (6, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[BM_Solution.Model.Models.AppRole, BM-Solution.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[BM_Solution.Web.Models.System.ApplicationRoleViewModel, BM-Solution.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at BM_Solution.Web.Controllers.AppRoleController.<>c__DisplayClass1_0.<GetListPaging>b__0()
   at BM_Solution.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 function)', CAST(N'2017-09-18 23:17:53.770' AS DateTime))
INSERT [dbo].[Errors] ([Id], [Message], [StackTrace], [CreatedDate]) VALUES (7, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[BM_Solution.Model.Models.AppRole, BM-Solution.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[BM_Solution.Web.Models.System.ApplicationRoleViewModel, BM-Solution.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at BM_Solution.Web.Controllers.AppRoleController.<>c__DisplayClass1_0.<GetListPaging>b__0()
   at BM_Solution.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 function)', CAST(N'2017-09-18 23:19:15.037' AS DateTime))
INSERT [dbo].[Errors] ([Id], [Message], [StackTrace], [CreatedDate]) VALUES (8, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[BM_Solution.Model.Models.DuAn, BM-Solution.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[BM_Solution.Web.Models.DuAnListViewModel, BM-Solution.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at BM_Solution.Web.Controllers.DuAnController.<>c__DisplayClass2_0.<GetListPaging>b__0() in D:\Source\BM-Solutions\BM-Solution.Web\Controllers\DuAnController.cs:line 42
   at BM_Solution.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 function) in D:\Source\BM-Solutions\BM-Solution.Web\Infrastructure\Core\ApiControllerBase.cs:line 46', CAST(N'2017-09-20 00:26:01.727' AS DateTime))
SET IDENTITY_INSERT [dbo].[Errors] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AppUser_Id]    Script Date: 20/09/2017 1:16:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_AppUser_Id] ON [dbo].[AppUserClaims]
(
	[AppUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AppUser_Id]    Script Date: 20/09/2017 1:16:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_AppUser_Id] ON [dbo].[AppUserLogins]
(
	[AppUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AppUser_Id]    Script Date: 20/09/2017 1:16:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_AppUser_Id] ON [dbo].[AppUserRoles]
(
	[AppUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IdentityRole_Id]    Script Date: 20/09/2017 1:16:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdentityRole_Id] ON [dbo].[AppUserRoles]
(
	[IdentityRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DuaAnId]    Script Date: 20/09/2017 1:16:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_DuaAnId] ON [dbo].[ChiTietThuChis]
(
	[DuaAnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 20/09/2017 1:16:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[ChiTietThuChis]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DuaAnId]    Script Date: 20/09/2017 1:16:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_DuaAnId] ON [dbo].[Permissions]
(
	[DuaAnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 20/09/2017 1:16:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Permissions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserClaims_dbo.AppUsers_AppUser_Id] FOREIGN KEY([AppUser_Id])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[AppUserClaims] CHECK CONSTRAINT [FK_dbo.AppUserClaims_dbo.AppUsers_AppUser_Id]
GO
ALTER TABLE [dbo].[AppUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserLogins_dbo.AppUsers_AppUser_Id] FOREIGN KEY([AppUser_Id])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[AppUserLogins] CHECK CONSTRAINT [FK_dbo.AppUserLogins_dbo.AppUsers_AppUser_Id]
GO
ALTER TABLE [dbo].[AppUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserRoles_dbo.AppRoles_IdentityRole_Id] FOREIGN KEY([IdentityRole_Id])
REFERENCES [dbo].[AppRoles] ([Id])
GO
ALTER TABLE [dbo].[AppUserRoles] CHECK CONSTRAINT [FK_dbo.AppUserRoles_dbo.AppRoles_IdentityRole_Id]
GO
ALTER TABLE [dbo].[AppUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserRoles_dbo.AppUsers_AppUser_Id] FOREIGN KEY([AppUser_Id])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[AppUserRoles] CHECK CONSTRAINT [FK_dbo.AppUserRoles_dbo.AppUsers_AppUser_Id]
GO
ALTER TABLE [dbo].[ChiTietThuChis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietThuChis_dbo.AppUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[ChiTietThuChis] CHECK CONSTRAINT [FK_dbo.ChiTietThuChis_dbo.AppUsers_UserId]
GO
ALTER TABLE [dbo].[ChiTietThuChis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietThuChis_dbo.DuAns_DuaAnId] FOREIGN KEY([DuaAnId])
REFERENCES [dbo].[DuAns] ([Id])
GO
ALTER TABLE [dbo].[ChiTietThuChis] CHECK CONSTRAINT [FK_dbo.ChiTietThuChis_dbo.DuAns_DuaAnId]
GO
ALTER TABLE [dbo].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Permissions_dbo.AppUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[Permissions] CHECK CONSTRAINT [FK_dbo.Permissions_dbo.AppUsers_UserId]
GO
ALTER TABLE [dbo].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Permissions_dbo.DuAns_DuaAnId] FOREIGN KEY([DuaAnId])
REFERENCES [dbo].[DuAns] ([Id])
GO
ALTER TABLE [dbo].[Permissions] CHECK CONSTRAINT [FK_dbo.Permissions_dbo.DuAns_DuaAnId]
GO
USE [master]
GO
