<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="page-title">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Nhật ký giao dịch</h3>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-5 col-sm-6 col-xs-12 form-group">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <input date-range-picker id="daterange4" options="{locale: {format: 'DD-MM-YYYY'}}"
                                                   readonly name="daterange4" class="form-control date-picker" type="text"
                                                   ng-model="date" clearable="true" required />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-12 form-group">
                                <button class="btn btn-success" ng-click="search()" type="button">Tìm</button>
                                <button class="btn btn-danger" type="button" ng-click="deleteMultiple()" id="btnDelete" disabled ng-if="isSys">Xóa</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr>
                                <th ng-if="isSys"><input name="all" type="checkbox" ng-click="selectAll()" /></th>
                                <th hidden>Id</th>
                                <th>Thời gian</th>
                                <th>Dự án</th>
                                <th>Thành viên</th>
                                <th>Thu</th>
                                <th>Chi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in data">
                                <td ng-if="isSys"><input type="checkbox" ng-model="item.checked" name="all" /></td>
                                <td hidden>{{item.Id}}</td>
                                <td>{{item.NgayTao | date : 'dd/MM/yyyy'}}</td>
                                <td>{{item.DuAnId}}</td>
                                <td>{{item.AppUser.UserName}}</td>
                                <td>{{item.TienChi | number}}</td>
                                <td>{{item.TienThu | number}}</td>
                            </tr>
                            <tr ng-if="isSys">
                                <td>Tổng: </td>
                                <td hidden></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{TongChi | number}}</td>
                                <td>{{TongThu | number}}</td>
                            </tr>
                            <tr ng-if="!isSys">
                                <td>Tổng: </td>
                                <td></td>
                                <td></td>
                                <td>{{TongChi | number}}</td>
                                <td>{{TongThu | number}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr ng-if="isSys">
                                <td colspan="6"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                            <tr ng-if="!isSys">
                                <td colspan="5"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                            </tfoot>
                        </table>
                        <div>
                            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
