<connectionStrings>
  <add name="BmSolutionsConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=BM_Solutions;Integrated Security=True;MultipleActiveResultSets=True" />
</connectionStrings>
<!--<connectionStrings>
  <add name="BmSolutionsConnection" providerName="System.Data.SqlClient" connectionString="workstation id=dbbinhminh.mssql.somee.com;packet size=4096;user id=khanhack_SQLLogin_1;pwd=nr5xegqaa9;data source=dbbinhminh.mssql.somee.com;persist security info=False;initial catalog=dbbinhminh;MultipleActiveResultSets=True" />
</connectionStrings>-->