<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thêm mới thành viên</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" role="form" novalidate name="frmAdd" ng-submit="addUser()">
                    <div class="form-group" ng-class="{ 'has-error' : frmAdd.fullname.$invalid && !frmAdd.fullname.$pristine }">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Họ tên
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="fullname" class="form-control col-md-7 col-xs-12" required ng-maxlength="50" ng-model="user.FullName">
                            <span ng-show="frmAdd.fullname.$error.required" class="has-error">Vui lòng nhập họ tên.</span>
                            <span ng-show="frmAdd.fullname.$error.maxlength" class="has-error">Họ tên chỉ được 50 ký tự.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : frmAdd.username.$invalid && !frmAdd.username.$pristine }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Tài khoản <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="username" class="form-control col-md-7 col-xs-12" ng-pattern="/^[A-Za-z0-9]*$/" required ng-maxlength="50"
                                   ng-model="user.UserName">
                            <span ng-show="frmAdd.username.$error.required" class="has-error">Vui lòng nhập tài khoản.</span>
                            <span ng-show="frmAdd.username.$error.maxlength" class="has-error">Tài khoản chỉ được 50 ký tự.</span>
                            <span ng-show="frmAdd.username.$error.pattern" class="has-error">Tài khoản viết liền không dấu.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : frmAdd.password.$invalid && !frmAdd.password.$pristine }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                            Mật khẩu <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" name="password" class="form-control col-md-7 col-xs-12"
                                   required ng-maxlength="50" ng-model="user.Password" ng-minlength="6">
                            <span ng-show="frmAdd.password.$error.required" class="has-error">Vui lòng nhập Mật khẩu.</span>
                            <span ng-show="frmAdd.password.$error.maxlength" class="has-error">Mật khẩu chỉ được 50 ký tự.</span>
                            <span ng-show="frmAdd.password.$error.minlength" class="has-error">Mật khẩu ít nhất 6 ký tự.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : frmAdd.email.$invalid && !frmAdd.email.$pristine }">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Email
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="email" name="email" class="form-control col-md-7 col-xs-12" required ng-maxlength="50" ng-model="user.Email">
                            <span ng-show="frmAdd.email.$error.required" class="has-error">Phải nhập email.</span>
                            <span ng-show="frmAdd.email.$error.maxlength" class="has-error">Email chỉ được 256 ký tự.</span>
                            <span ng-show="frmAdd.email.$error.email" class="has-error">Định dạnh email không đúng.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : frmAdd.group.$invalid && !frmAdd.group.$pristine }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Thuộc nhóm</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <tags-input ng-model="user.Roles"
                                        placeholder="Thêm nhóm"
                                        display-property="Name"
                                        max-tags="1"
                                        name="group"
                                        replace-spaces-with-dashes="false"
                                        add-from-autocomplete-only="true"
                                        template="tag-template-role">
                                <auto-complete source="loadRoles($query)"
                                               min-length="0"
                                               load-on-focus="true"
                                               load-on-empty="true"
                                               max-results-to-show="32"
                                               template="autocomplete-template-role"></auto-complete>
                            </tags-input>
                            <span ng-show="frmAdd.group.$invalid" class="has-error">Chỉ được chọn một nhóm.</span>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button ui-sref="app_users" class="btn btn-default" type="button">Quay lại</button>
                            <button ng-disabled="frmAdd.$invalid" type="submit" class="btn btn-success">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="tag-template-role">
        <div class="tag-template">
            <div class="left-panel">
                <i class="fa fa-user"></i>
            </div>
            <div class="right-panel">
                <span>{{$getDisplayText()}}</span>
                <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="autocomplete-template-role">
        <div class="autocomplete-template">
            <div class="left-panel">
                <i class="fa fa-file-user"></i>
            </div>
            <div class="right-panel">
                <span ng-bind-html="$highlight($getDisplayText())"></span>
            </div>
        </div>
    </script>
</div>