<div class="modal-header">
    <h4 class="modal-title pull-left">Quản lý thu chi</h4>
    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="addChitiet" class="form-horizontal form-label-left input_mask" role="form" novalidate name="frmAddChiTiet" ng-submit="addChiTiet()">
        <div class="form-group row">
            <div class="col-md-3 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.ngaytaochitiet.$invalid && !frmAddChiTiet.ngaytaochitiet.$pristine }">
                <label>Thời gian</label>
                <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                    <input name="ngaytaochitiet" type="text" required class="form-control" ng-click="openchitiet()" uib-datepicker-popup="dd/MM/yyyy" ng-model="ngaytaoct" is-open="popupchitiet.opened"
                           placeholder="dd/MM/yyyy" datepicker-options="dateOptions" close-text="Close"
                           ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" />
                    <!--<span ng-show="frmAddChiTiet.ngaytaochitiet.$error.required" class="has-error">Vui lòng chọn ngày.</span>
                    <span ng-show="frmAddChiTiet.ngaytaochitiet.$error.pattern" class="has-error">Định dạng ngày không đúng.</span>-->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.tienchichitiet.$invalid && !frmAddChiTiet.tienchichitiet.$pristine }">
                <label>Tiền chi</label>
                <input type="number" name="tienchichitiet" min="0" ng-model="chitiet.TienChi" required class="form-control">
                <span ng-show="frmAddChiTiet.tienchichitiet.$invalid" class="has-error">Phải nhập tiền chi</span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.tienthuchitiet.$invalid && !frmAddChiTiet.tienthuchitiet.$pristine }">
                <label>Tiền Thu</label>
                <input type="number" name="tienthuchitiet" min="0" ng-model="chitiet.TienThu" required class="form-control">
                <span ng-show="frmAddChiTiet.tienthuchitiet.$invalid" class="has-error">Phải nhập tiền thu</span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <button type="submit" ng-disabled="frmAddChiTiet.$invalid" class="btn btn-primary mt-24">Thêm</button>
            </div>
        </div>
    </form>
    <div class="ln_solid"></div>
</div>

<!--<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Quản lý thu chi</h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addChitiet" class="form-horizontal form-label-left input_mask" role="form" novalidate name="frmAddChiTiet" ng-submit="addChiTiet()">
                    <div class="form-group row">
                        <div class="col-md-3 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.ngaytaochitiet.$invalid && !frmAddChiTiet.ngaytaochitiet.$pristine }">
                            <label>Thời gian</label>
                            <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                <input name="ngaytaochitiet" type="text" required class="form-control" ng-click="openchitiet()" uib-datepicker-popup="dd/MM/yyyy" ng-model="ngaytaoct" is-open="popupchitiet.opened"
                                       placeholder="dd/MM/yyyy" datepicker-options="dateOptions" close-text="Close"
                                       ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" />
                                <span ng-show="frmAddChiTiet.ngaytaochitiet.$error.required" class="has-error">Vui lòng chọn ngày.</span>
                                <span ng-show="frmAddChiTiet.ngaytaochitiet.$error.pattern" class="has-error">Định dạng ngày không đúng.</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.tienchichitiet.$invalid && !frmAddChiTiet.tienchichitiet.$pristine }">
                            <label>Tiền chi</label>
                            <input type="number" name="tienchichitiet" min="0" ng-model="chitiet.TienChi" required class="form-control">
                            <span ng-show="frmAddChiTiet.tienchichitiet.$invalid" class="has-error">Phải nhập tiền chi</span>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.tienthuchitiet.$invalid && !frmAddChiTiet.tienthuchitiet.$pristine }">
                            <label>Tiền Thu</label>
                            <input type="number" name="tienthuchitiet" min="0" ng-model="chitiet.TienThu" required class="form-control">
                            <span ng-show="frmAddChiTiet.tienthuchitiet.$invalid" class="has-error">Phải nhập tiền thu</span>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <button type="submit" ng-disabled="frmAddChiTiet.$invalid" class="btn btn-primary mt-24">Thêm</button>
                        </div>
                    </div>
                </form>
                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>-->