<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Cập nhật dự án</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="demo-form2" class="form-horizontal form-label-left" role="form" novalidate name="frmEdit" ng-submit="editDuAn()">
                    <!--mã-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.id.$invalid && !frmEdit.id.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Mã dự án <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input type="text" name="id" class="form-control col-md-7 col-xs-12" required ng-maxlength="50" ng-model="duan.Id" disabled="disabled">
                                <span ng-show="frmEdit.id.$error.required" class="has-error">Vui lòng nhập mã dự án.</span>
                                <span ng-show="frmEdit.id.$error.maxlength" class="has-error">Mã dự án chỉ được 50 ký tự.</span>
                            </div>
                        </div>
                    </div>
                    <!--tên dự án-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.ten.$invalid && !frmEdit.ten.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Tên dự án <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input type="text" name="ten" required ng-maxlength="100" ng-model="duan.Ten" class="form-control col-md-7 col-xs-12" ng-disabled="isEdit">
                                <span ng-show="frmEdit.ten.$error.required" class="has-error">Vui lòng nhập tên dự án.</span>
                                <span ng-show="frmEdit.ten.$error.maxlength" class="has-error">Tên dự án chỉ được 100 ký tự.</span>
                            </div>
                        </div>
                    </div>
                    <!--ngày tạo-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.ngaytao.$invalid && !frmEdit.ngaytao.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Ngày tạo <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input name="ngaytao" type="text" required class="form-control" ng-click="open1()" uib-datepicker-popup="dd/MM/yyyy"
                                       ng-model="ngayTao" is-open="popup1.opened" disabled="disabled"
                                       placeholder="dd/MM/yyyy" datepicker-options="dateOptions" close-text="Close"
                                       ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" />
                                <span ng-show="frmEdit.ngaytao.$error.required" class="has-error">Vui lòng chọn ngày.</span>
                                <span ng-show="frmEdit.ngaytao.$error.pattern" class="has-error">Định dạng ngày không đúng.</span>
                            </div>
                        </div>
                    </div>
                    <!--thời gian dự tính-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.thoigian.$invalid && !frmEdit.thoigian.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Thời gian dự tính <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input name="thoigian" type="text" required class="form-control" ng-click="open2()" uib-datepicker-popup="dd/MM/yyyy"
                                       ng-model="thoiGian" is-open="popup2.opened" disabled="disabled"
                                       placeholder="dd/MM/yyyy" datepicker-options="dateOptions" close-text="Close"
                                       ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" />
                                <span ng-show="frmEdit.thoigian.$error.required" class="has-error">Vui lòng chọn ngày.</span>
                                <span ng-show="frmEdit.thoigian.$error.pattern" class="has-error">Định dạng ngày không đúng.</span>
                            </div>
                        </div>
                    </div>
                    <!--lợi nhuận dự tính-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.loinhuandutinh.$invalid && !frmEdit.loinhuandutinh.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Lợi nhuận dự tính <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input type="number" min="0" name="loinhuandutinh" required ng-model="duan.LoiNhuanDuTinh" disabled="disabled" class="form-control col-md-7 col-xs-12">
                                <span ng-show="frmEdit.loinhuandutinh.$error.required" class="has-error">Vui lòng nhập lợi nhuận dự tính.</span>
                            </div>
                        </div>
                    </div>
                    <!--tiền chi dự tính-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.tienchidutinh.$invalid && !frmEdit.tienchidutinh.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Tiền chi dự tính <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input type="number" min="0" name="tienchidutinh" required ng-model="duan.TienChiDuTinh" disabled="disabled" class="form-control col-md-7 col-xs-12">
                                <span ng-show="frmEdit.tienchidutinh.$error.required" class="has-error">Vui lòng nhập tiền chi dự tính.</span>
                            </div>
                        </div>
                    </div>
                    <!--tiền chi thực tế-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Tiền chi thực tế <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input type="text" id="first-name" ng-model="duan.TienChiThucTe" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </div>
                    <!--tiền thu dự tính-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.tienthudutinh.$invalid && !frmEdit.tienthudutinh.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Tiền thu dự tính <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input type="number" min="0" name="tienthudutinh" ng-model="duan.TienThuDuTinh" required ng-model="duan.TienThuDuTinh" disabled="disabled" class="form-control col-md-7 col-xs-12">
                                <span ng-show="frmEdit.tienthudutinh.$error.required" class="has-error">Vui lòng nhập tiền thu dự tính.</span>
                            </div>
                        </div>
                    </div>
                    <!--tiền thu thực tế-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Tiền thu thực tế <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input type="text" id="first-name" ng-model="duan.TienThuThucTe" required="required" class="form-control col-md-7 col-xs-12" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <!--lợi nhuận thực tế-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Lợi nhuận thực tế <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input type="text" id="first-name" ng-model="duan.LoiNhuanThucTe" required="required" class="form-control col-md-7 col-xs-12" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <!--trạng thái-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Trạng thái <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <button ng-click="ketthuc()" ng-if="duan.TrangThai==3"
                                        type="button" class="btn btn-round btn-danger">
                                    Có thể kết thúc
                                </button>
                                <label ng-if="duan.TrangThai!=3">
                                    <span ng-class="{'badge bg-green':duan.TrangThai==0,'badge bg-purple':duan.TrangThai==1,
                                              'badge bg-blue':duan.TrangThai==2,'badge bg-red':duan.TrangThai==3,'badge bg-gray':duan.TrangThai==4}">
                                        {{duan.TrangThai | statusFilter}}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--ghi chú-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Ghi chú
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <textarea type="text" name="ghichu" ng-model="duan.GhiChu" class="form-control col-md-7 col-xs-12" ng-disabled="isEdit"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--nội dung-->
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-12 col-xs-12">Nội dung</label>
                        <div class="col-md-10 col-sm-12 col-xs-12">
                            <textarea name="noidung" ui-tinymce="tinymceOptions" ng-model="duan.NoiDung" class="form-control" ng-disabled="isEdit"></textarea>
                        </div>
                    </div>
                    <!--thành viên-->
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-12 col-xs-12">
                            Thành viên
                        </label>
                        <div class="col-md-10 col-sm-12 col-xs-12">
                            <tags-input ng-disabled="!isSys || isEdit" ng-model="duan.AppUsers"
                                        placeholder="Thêm thành viên"
                                        display-property="UserName"
                                        replace-spaces-with-dashes="false"
                                        add-from-autocomplete-only="true"
                                        template="tag-template">
                                <auto-complete source="loadUsers($query)"
                                               min-length="0"
                                               load-on-focus="true"
                                               load-on-empty="true"
                                               max-results-to-show="32"
                                               template="autocomplete-template"></auto-complete>
                            </tags-input>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a href="/#/" class="btn btn-default" type="button" ng-show="isEdit">Quay lại</a>
                            <button type="button" class="btn btn-default" ng-show="!isEdit" ng-click="cancel()">Hủy</button>
                            <button ng-if="duan.TrangThai!=4" type="button" class="btn btn-primary" ng-click="edit()" ng-show="isEdit">Sửa</button>
                            <button ng-if="duan.TrangThai==4" type="button" class="btn btn-danger" ng-click="xoa()">Xóa</button>
                            <button type="submit" class="btn btn-success" ng-disabled="frmEdit.$invalid" ng-show="!isEdit">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--teamplate-->
        <script type="text/ng-template" id="tag-template">
            <div class="tag-template">
                <div class="left-panel">
                    <i class="fa fa-user"></i>
                </div>
                <div class="right-panel">
                    <span>{{$getDisplayText()}}</span>
                    <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                </div>
            </div>
        </script>
        <!--auto template-->
        <script type="text/ng-template" id="autocomplete-template">
            <div class="autocomplete-template">
                <div class="left-panel">
                    <i class="fa fa-user"></i>
                </div>
                <div class="right-panel">
                    <span ng-bind-html="$highlight($getDisplayText())"></span>
                </div>
            </div>
        </script>
    </div>
    <!--Nhật ký giao dịch-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="page-title">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Nhật ký giao dịch</h3>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-5 col-sm-6 col-xs-12 form-group">
                            <fieldset>
                                <div class="control-group">
                                    <div class="controls">
                                        <input date-range-picker id="daterange4" options="{locale: {format: 'DD-MM-YYYY'}}"
                                               readonly name="daterange4" class="form-control date-picker" type="text"
                                               ng-model="date" clearable="true" required />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
                            <button class="btn btn-success" ng-click="search()" type="button">Tìm</button>
                            <button class="btn btn-danger" type="button" ng-click="deleteMultiple()" id="btnDelete" disabled ng-if="isSys">Xóa</button>
                            <button class="btn btn-primary" type="button" ng-if="duan.TrangThai!=4" ng-click="openModel()">Thêm giao dịch</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th ng-if="isSys"><input name="all" type="checkbox" ng-click="selectAll()" /></th>
                                <th>Thời gian</th>
                                <th>Dự án</th>
                                <th>Thành viên</th>
                                <th>Thu</th>
                                <th>Chi</th>
                                <th>Hình ảnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data">
                                <td ng-if="isSys"><input type="checkbox" ng-model="item.checked" name="all" /></td>
                                <td>{{item.NgayTao | date : 'dd/MM/yyyy'}}</td>
                                <td>{{item.DuAnId}}</td>
                                <td>{{item.AppUser.UserName}}</td>
                                <td>{{item.TienChi | number}}</td>
                                <td>{{item.TienThu | number}}</td>
                                <td>
                                    <ul class="list-inline">
                                        <li ng-repeat="img in item.MoreImages track by $index">
                                            <a ng-click="openLightboxModal($index,item.Id)">
                                                <img ng-src="{{img}}" class="img-thumbnail" width="100">
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="isSys">
                                <td>Tổng: </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{TongChi | number}}</td>
                                <td>{{TongThu | number}}</td>
                                <td></td>
                            </tr>
                            <tr ng-if="!isSys">
                                <td>Tổng: </td>
                                <td></td>
                                <td></td>
                                <td>{{TongChi | number}}</td>
                                <td>{{TongThu | number}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-if="isSys">
                                <td colspan="7"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                            <tr ng-if="!isSys">
                                <td colspan="6"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div>
                        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--popup thu chi-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Thêm thu chi</h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addChitiet" class="form-horizontal form-label-left input_mask" role="form" novalidate name="frmAddChiTiet" ng-submit="addChiTiet()">
                    <div class="form-group row">
                        <!--thời gian-->
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.ngaytaochitiet.$invalid && !frmAddChiTiet.ngaytaochitiet.$pristine }">
                            <label>Thời gian</label>
                            <input readonly name="ngaytaochitiet" type="text" required class="form-control" ng-click="openchitiet()" uib-datepicker-popup="dd/MM/yyyy" ng-model="ngaytaoct" is-open="popupchitiet.opened"
                                   placeholder="dd/MM/yyyy" datepicker-options="dateOptions" close-text="Close"
                                   ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" />

                        </div>
                        <!--tiền chi-->
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.tienchichitiet.$invalid && !frmAddChiTiet.tienchichitiet.$pristine }">
                            <label>Tiền chi</label>
                            <input type="number" name="tienchichitiet" min="0" ng-model="chitiet.TienChi" required class="form-control">
                            <span ng-show="frmAddChiTiet.tienchichitiet.$invalid" class="has-error">Phải nhập tiền chi</span>
                        </div>
                        <!--tiề thu-->
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.tienthuchitiet.$invalid && !frmAddChiTiet.tienthuchitiet.$pristine }">
                            <label>Tiền Thu</label>
                            <input type="number" name="tienthuchitiet" min="0" ng-model="chitiet.TienThu" required class="form-control">
                            <span ng-show="frmAddChiTiet.tienthuchitiet.$invalid" class="has-error">Phải nhập tiền thu</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--thời gian-->
                        <div class="col-md-8 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.file.$invalid && !frmAddChiTiet.file.$pristine }">
                            <label>Thêm ảnh</label>
                            <ul class="list-inline">
                                <li ng-repeat="img in moreImages track by $index">
                                    <a ng-click="deleteItem($index)">
                                        <span class="close" title="xóa">&times;</span>
                                    </a>
                                    <img ng-src="{{img}}" width="100" />
                                </li>
                            </ul>
                            <button class="btn btn-default" type="button" ng-click="ChooseMoreImage()">Chọn ảnh</button>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <button type="submit" ng-disabled="frmAddChiTiet.$invalid" class="btn btn-primary  mt-24">Thêm</button>
                        </div>
                    </div>
                </form>
                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>