<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Cập nhật dự án</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="demo-form2" class="form-horizontal form-label-left" role="form" novalidate name="frmEdit" ng-submit="editDuAn()">
                    <!--mã-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.id.$invalid && !frmEdit.id.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Mã dự án <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input type="text" name="id" class="form-control col-md-7 col-xs-12" required ng-maxlength="50"
                                       disabled ng-model="duan.Id">
                                <span ng-show="frmEdit.id.$error.required" class="has-error">Vui lòng nhập mã dự án.</span>
                                <span ng-show="frmEdit.id.$error.maxlength" class="has-error">Mã dự án chỉ được 50 ký tự.</span>
                            </div>
                        </div>
                    </div>
                    <!--tên dự án-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.ten.$invalid && !frmEdit.ten.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Tên dự án <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input type="text" name="ten" required ng-maxlength="100" ng-model="duan.Ten" class="form-control col-md-7 col-xs-12">
                                <span ng-show="frmEdit.ten.$error.required" class="has-error">Vui lòng nhập tên dự án.</span>
                                <span ng-show="frmEdit.ten.$error.maxlength" class="has-error">Tên dự án chỉ được 100 ký tự.</span>
                            </div>
                        </div>
                    </div>
                    <!--ngày tạo-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.ngaytao.$invalid && !frmEdit.ngaytao.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Ngày tạo <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input name="ngaytao" type="text" required class="form-control" ng-click="open1()" uib-datepicker-popup="dd/MM/yyyy"
                                       ng-model="ngayTao" is-open="popup1.opened"
                                       placeholder="dd/MM/yyyy" datepicker-options="dateOptions" close-text="Close"
                                       ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" />
                                <span ng-show="frmEdit.ngaytao.$error.required" class="has-error">Vui lòng chọn ngày.</span>
                                <span ng-show="frmEdit.ngaytao.$error.pattern" class="has-error">Định dạng ngày không đúng.</span>
                            </div>
                        </div>
                    </div>
                    <!--thời gian dự tính-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.thoigian.$invalid && !frmEdit.thoigian.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Thời gian dự tính <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input name="thoigian" type="text" required class="form-control" ng-click="open2()" uib-datepicker-popup="dd/MM/yyyy"
                                       ng-model="thoiGian" is-open="popup2.opened"
                                       placeholder="dd/MM/yyyy" datepicker-options="dateOptions" close-text="Close"
                                       ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" />
                                <span ng-show="frmEdit.thoigian.$error.required" class="has-error">Vui lòng chọn ngày.</span>
                                <span ng-show="frmEdit.thoigian.$error.pattern" class="has-error">Định dạng ngày không đúng.</span>
                            </div>
                        </div>
                    </div>
                    <!--Tiền vốn ban đầu-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.tienvonbandau.$invalid && !frmEdit.tienvonbandau.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Tiền vốn ban đầu <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input ui-number-mask="0" type="text" min="0" name="tienvonbandau" required ng-model="duan.TienVonBanDau"
                                       class="form-control col-md-7 col-xs-12">
                                <span ng-show="frmEdit.tienvonbandau.$error.required" class="has-error">Vui lòng nhập tiền vốn ban đầu.</span>
                            </div>
                        </div>
                    </div>

                    <!--tiền thu thực tế-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Tiền thu thực tế <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input ui-number-mask="0" type="text" min="0" id="first-name" ng-model="duan.TienThuThucTe"
                                       required class="form-control col-md-7 col-xs-12" disabled>
                            </div>
                        </div>
                    </div>
                    <!--tiền thu dự tính-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.tienthudutinh.$invalid && !frmEdit.tienthudutinh.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Tiền thu dự tính <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input ui-number-mask="0" type="text" min="0" name="tienthudutinh" ng-model="duan.TienThuDuTinh"
                                       required class="form-control col-md-7 col-xs-12">
                                <span ng-show="frmEdit.tienthudutinh.$error.required" class="has-error">Vui lòng nhập tiền thu dự tính.</span>
                            </div>
                        </div>
                    </div>
                    <!--tiền chi thực tế-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Tiền chi thực tế <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input ui-number-mask="0" type="text" min="0" id="first-name" ng-model="duan.TienChiThucTe" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </div>

                    <!--tiền chi dự tính-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.tienchidutinh.$invalid && !frmEdit.tienchidutinh.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Tiền chi dự tính <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input ui-number-mask="0" type="text" min="0" name="tienchidutinh" required ng-model="duan.TienChiDuTinh" class="form-control col-md-7 col-xs-12">
                                <span ng-show="frmEdit.tienchidutinh.$error.required" class="has-error">Vui lòng nhập tiền chi dự tính.</span>
                            </div>
                        </div>
                    </div>

                    <!--lợi nhuận thực tế-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Lợi nhuận thực tế <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input ui-number-mask="0" type="text" min="0" id="first-name" ng-model="duan.LoiNhuanThucTe" required="required" class="form-control col-md-7 col-xs-12" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <!--lợi nhuận dự tính-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group" ng-class="{ 'has-error' : frmEdit.loinhuandutinh.$invalid && !frmEdit.loinhuandutinh.$pristine }">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Lợi nhuận dự tính <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input ui-number-mask="0" type="text" min="0" name="loinhuandutinh" required ng-model="duan.LoiNhuanDuTinh" class="form-control col-md-7 col-xs-12">
                                <span ng-show="frmEdit.loinhuandutinh.$error.required" class="has-error">Vui lòng nhập lợi nhuận dự tính.</span>
                            </div>
                        </div>
                    </div>

                    <!--trạng thái-->
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-12 col-xs-12" for="first-name">
                                Trạng thái <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div ng-if="duan.TrangThai==3">
                                    <span class="badge bg-red">
                                        Có thể kết thúc
                                    </span>
                                    <a href="javascript:;" ng-click="ketthuc()"><span class="green">(Nhấn vào đây để kết thúc)</span></a>
                                </div>

                                <label ng-if="duan.TrangThai!=3">
                                    <span ng-class="{'badge bg-green':duan.TrangThai==0,'badge bg-purple':duan.TrangThai==1,
                                              'badge bg-blue':duan.TrangThai==2,'badge bg-red':duan.TrangThai==3,'badge bg-gray':duan.TrangThai==4}">
                                        {{duan.TrangThai | statusFilter}}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--ghi chú-->
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <label class="control-label col-md-2 col-sm-12 col-xs-12">Ghi chú</label>
                        <div class="col-md-10 col-sm-12 col-xs-12">
                            <textarea type="text" name="ghichu" ng-model="duan.GhiChu" class="form-control"></textarea>
                        </div>
                    </div>
                    <!--nội dung-->
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-12 col-xs-12">Nội dung</label>
                        <div class="col-md-10 col-sm-12 col-xs-12">
                            <textarea name="noidung" ui-tinymce="tinymceOptions" ng-model="duan.NoiDung" class="form-control"></textarea>
                        </div>
                    </div>
                    <!--thành viên-->
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-12 col-xs-12">
                            Thành viên tham gia
                        </label>
                        <div class="col-md-10 col-sm-12 col-xs-12">
                            <div class="form-group row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <label>Thành viên</label>
                                    <select name="parentId" ng-disabled="frmEdit.$invalid"
                                            class="form-control" ng-model="addUser.User" ng-options="option.UserName as option.UserName for option in listUser">
                                        <option value="">Chọn thành viên</option>
                                    </select>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <label>Type</label>
                                        <select ng-model="addUser.type" ng-disabled="frmEdit.$invalid" class="form-control">
                                            <option value="0" selected>%</option>
                                            <option value="1">VND</option>
                                        </select>
                                    </div>
                                    <!--Vốn ban đầu VND -->
                                    <div ng-if="addUser.type=='1'" class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Vốn đầu tư</label>
                                        <input required class="form-control" ui-number-mask="0" type="text" min="0" ng-model="addUser.TienVonBanDauVND" />
                                        <label>{{(addUser.TienVonBanDauVND / duan.TienVonBanDau)*100}} %.</label>
                                    </div>
                                    <!--Vốn ban đầu  %-->
                                    <div ng-if="addUser.type=='0'" class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Vốn đầu tư</label>
                                        <input class="form-control" ui-percentage-mask="0" max="1" type="text" ng-model="addUser.TienVonBanDau" />
                                        <label>{{addUser.TienVonBanDau*(duan.TienVonBanDau) | number}} VND.</label>
                                    </div>
                                    <!--Phần trăm hoa hồng-->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Phần trăm hoa hồng</label>
                                        <input ng-disabled="frmEdit.$invalid" class="form-control" type="text" ui-percentage-mask="0" ng-model="addUser.PhanTramHoaHong" />
                                    </div>
                                    <!--button-->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <button ng-disabled="frmEdit.$invalid" type="button" ng-click="add()" class="btn btn-primary  mt-24">Thêm</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Thành viên</th>
                                            <th>Vốn đầu tư</th>
                                            <th>Phần trăm vốn</th>
                                            <th>Phần trăm hoa hồng</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in duan.DuAnUserViewModels">
                                            <td>{{$index + 1}}</td>
                                            <td>{{item.AppUser.UserName}}</td>
                                            <td>{{item.TienVonBanDau | number}}</td>
                                            <td>{{(item.PhanTramVon)*100}} %</td>
                                            <td>{{(item.PhanTramHoaHong)*100}} %</td>
                                            <td>
                                                <a href="javascript:void(0);" title="Sửa" ng-click="popupEdit(item)">
                                                    <span class="badge bg-primary">Sửa</span>
                                                </a>
                                                <a href="javascript:void(0);" title="Xóa" ng-click="remove(item)">
                                                    <span class="badge bg-red">Xóa</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a href="/#/" class="btn btn-default" type="button">Quay lại</a>
                            <button type="submit" class="btn btn-success" ng-disabled="frmEdit.$invalid">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Nhật ký giao dịch-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="page-title">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Nhật ký giao dịch</h3>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-5 col-sm-6 col-xs-12 form-group">
                            <fieldset>
                                <div class="control-group">
                                    <div class="controls">
                                        <input date-range-picker id="daterange4" options="{locale: {format: 'DD-MM-YYYY'}}"
                                               readonly name="daterange4" class="form-control date-picker" type="text"
                                               ng-model="date" clearable="true" required />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
                            <button class="btn btn-success" ng-click="search()" type="button">Tìm</button>
                            <button class="btn btn-danger" type="button" ng-click="deleteMultiple()" id="btnDelete" disabled>Xóa</button>
                            <button class="btn btn-primary" type="button" ng-if="duan.TrangThai!=4" ng-click="openModel()">Thêm giao dịch</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th><input name="all" type="checkbox" ng-click="selectAll()" /></th>
                                <th>Thời gian</th>
                                <th>Dự án</th>
                                <th>Thành viên</th>
                                <th>Thu</th>
                                <th>Chi</th>
                                <th>Hình ảnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data">
                                <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                                <td><a href="javascript:void(0);" ng-click="openModelEdit(item)">{{item.NgayTao | date : 'dd/MM/yyyy'}}</a></td>
                                <td><a href="javascript:void(0);" ng-click="openModelEdit(item)">{{item.DuAnId}}</a></td>
                                <td><a href="javascript:void(0);" ng-click="openModelEdit(item)">{{item.AppUser.UserName}}</a></td>
                                <td><a href="javascript:void(0);" ng-click="openModelEdit(item)">{{item.TienChi | number}}</a></td>
                                <td><a href="javascript:void(0);" ng-click="openModelEdit(item)">{{item.TienThu | number}}</a></td>
                                <td>
                                    <ul class="list-inline">
                                        <li ng-repeat="img in item.MoreImages track by $index">
                                            <a ng-click="openLightboxModal($index,item.Id)">
                                                <img ng-src="{{img}}" class="img-thumbnail" width="100">
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Tổng: </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{TongChi | number}}</td>
                                <td>{{TongThu | number}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div>
                        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal_Edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Cập nhật thành viên tham gia</h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addThanhVien" class="form-horizontal form-label-left input_mask" role="form" novalidate name="frmEditThanhVien" ng-submit="editThanhVien()">
                    <div class="form-group row">
                        <!--thời gian-->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <label>Thành viên</label>
                            <input disabled name="thanhvien" ng-model="capnhat.thanhvien" type="text" required class="form-control" />
                        </div>
                        <!--tiền chi-->
                        <div class="col-md-3 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmEditThanhVien.vondautu.$invalid && !frmEditThanhVien.vondautu.$pristine }">
                            <label>Vốn đầu tư</label>
                            <input required ui-number-mask="0" type="text" min="0" name="vondautu" ng-model="capnhat.vondautu" class="form-control">
                            <span ng-show="frmEditThanhVien.vondautu.$invalid" class="has-error">Phải nhập vốn đầu tư</span>
                        </div>
                        <!--tiề thu-->
                        <div class="col-md-3 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmEditThanhVien.phamtram.$invalid && !frmEditThanhVien.phamtram.$pristine }">
                            <label>Phần trăm hoa hồng</label>
                            <input class="form-control" required type="text" name="phamtram" ui-percentage-mask="0" ng-model="capnhat.phantram" />
                            <span ng-show="frmEditThanhVien.phamtram.$invalid" class="has-error">Phải nhập phần trăm hoa hồng</span>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmEditThanhVien.phamtram.$invalid && !frmEditThanhVien.phamtram.$pristine }">
                            <button type="submit" ng-disabled="frmEditThanhVien.$invalid" class="btn btn-primary  mt-24">Cập nhật</button>
                        </div>
                    </div>
                </form>
                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>

<!--popup thu chi-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Thêm thu chi</h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addChitiet" class="form-horizontal form-label-left input_mask" role="form" novalidate name="frmAddChiTiet" ng-submit="addChiTiet()">
                    <div class="form-group row">
                        <!--thời gian-->
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.ngaytaochitiet.$invalid && !frmAddChiTiet.ngaytaochitiet.$pristine }">
                            <label>Thời gian</label>
                            <input readonly name="ngaytaochitiet" type="text" required class="form-control" ng-click="openchitiet()" uib-datepicker-popup="dd/MM/yyyy" ng-model="ngaytaoct" is-open="popupchitiet.opened"
                                   placeholder="dd/MM/yyyy" datepicker-options="dateOptions" close-text="Close"
                                   ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" />
                        </div>
                        <!--tiền chi-->
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.tienchichitiet.$invalid && !frmAddChiTiet.tienchichitiet.$pristine }">
                            <label>Tiền chi</label>
                            <input ui-number-mask="0" type="text" min="0" name="tienchichitiet" ng-model="chitiet.TienChi" required class="form-control">
                            <span ng-show="frmAddChiTiet.tienchichitiet.$invalid" class="has-error">Phải nhập tiền chi</span>
                        </div>
                        <!--tiề thu-->
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.tienthuchitiet.$invalid && !frmAddChiTiet.tienthuchitiet.$pristine }">
                            <label>Tiền Thu</label>
                            <input ui-number-mask="0" type="text" min="0" name="tienthuchitiet" ng-model="chitiet.TienThu" required class="form-control">
                            <span ng-show="frmAddChiTiet.tienthuchitiet.$invalid" class="has-error">Phải nhập tiền thu</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--thời gian-->
                        <div class="col-md-8 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmAddChiTiet.file.$invalid && !frmAddChiTiet.file.$pristine }">
                            <label>Thêm ảnh</label>
                            <ul class="list-inline">
                                <li ng-repeat="img in moreImages track by $index">
                                    <a ng-click="deleteItem($index)">
                                        <span class="close" title="xóa">&times;</span>
                                    </a>
                                    <img ng-src="{{img}}" width="100" />
                                </li>
                            </ul>
                            <button class="btn btn-default" type="button" ng-click="ChooseMoreImage()">Chọn ảnh</button>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <button type="submit" ng-disabled="frmAddChiTiet.$invalid" class="btn btn-primary  mt-24">Thêm</button>
                        </div>
                    </div>
                </form>
                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>

<!--popup edit thu chi-->
<div id="myModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Cập nhật thu chi</h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Edit" class="form-horizontal form-label-left input_mask" role="form" novalidate name="frmEditChiTiet" ng-submit="editChiTiet()">
                    <div class="form-group row">
                        <!--thời gian-->
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmEditChiTiet.ngaytaochitiet.$invalid && !frmEditChiTiet.ngaytaochitiet.$pristine }">
                            <label>Thời gian</label>
                            <input readonly name="ngaytaochitiet" type="text" required class="form-control" ng-click="openChiTietEdit()"
                                   uib-datepicker-popup="dd/MM/yyyy" ng-model="ngayTaoEditChiTiet" is-open="popupchitietEdit.opened"
                                   placeholder="dd/MM/yyyy" datepicker-options="dateOptions" close-text="Close"
                                   ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" />
                        </div>
                        <!--tiền chi-->
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmEditChiTiet.tienchichitiet.$invalid && !frmEditChiTiet.tienchichitiet.$pristine }">
                            <label>Tiền chi</label>
                            <input required type="text" ui-number-mask="0" min="0" name="tienchichitiet" ng-model="chitietEdit.TienChi" class="form-control">
                            <span ng-show="frmEditChiTiet.tienchichitiet.$invalid" class="has-error">Phải nhập tiền chi</span>
                        </div>
                        <!--tiề thu-->
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmEditChiTiet.tienthuchitiet.$invalid && !frmEditChiTiet.tienthuchitiet.$pristine }">
                            <label>Tiền Thu</label>
                            <input required type="text" ui-number-mask="0" min="0" name="tienthuchitiet" ng-model="chitietEdit.TienThu" class="form-control">
                            <span ng-show="frmEditChiTiet.tienthuchitiet.$invalid" class="has-error">Phải nhập tiền thu</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--thời gian-->
                        <div class="col-md-8 col-sm-6 col-xs-12" ng-class="{ 'has-error' : frmEditChiTiet.file.$invalid && !frmEditChiTiet.file.$pristine }">
                            <label>Thêm ảnh</label>
                            <ul class="list-inline">
                                <li ng-repeat="img in moreImagesEdit track by $index">
                                    <a ng-click="deleteItemEdit($index)">
                                        <span class="close" title="xóa">&times;</span>
                                    </a>
                                    <img ng-src="{{img}}" width="100" />
                                </li>
                            </ul>
                            <button class="btn btn-default" type="button" ng-click="ChooseMoreImageEdit()">Chọn ảnh</button>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <button type="submit" ng-disabled="frmEditChiTiet.$invalid" class="btn btn-primary  mt-24">Cập nhật</button>
                        </div>
                    </div>
                </form>
                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>
