<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang quản trị</title>
    <!-- Bootstrap -->
    <link href="/Assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/Assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/Assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <!-- tags-input -->
    <link href="~/Assets/libs/ng-tags-input/ng-tags-input.min.css" rel="stylesheet" />
    <!--Toastr-->
    <link href="~/Assets/libs/toastr/toastr.css" rel="stylesheet" />
    <!--Loading-bar-->
    <link href="~/Assets/libs/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />

    <link href="~/Assets/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!--daterangepicker-->
    <link href="~/Assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="/Assets/css/custom.min.css" rel="stylesheet">

</head>
<body class="nav-md" ng-app="bm-solutions" ng-controller="rootController">
    <div ui-view></div>
    <!-- jQuery -->
    <script src="/Assets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/Assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/Assets/vendors/fastclick/lib/fastclick.js"></script>
    <!--icheck-->
    <script src="/Assets/vendors/iCheck/icheck.min.js"></script>
    <!-- validator -->
    <script src="/Assets/vendors/validator/validator.js"></script>
    <!--tinymce-->
    <script src="~/Assets/libs/tinymce/js/tinymce/tinymce.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Assets/vendors/moment/moment.js"></script>
    <script src="~/Assets/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Begin embed angularJS -->
    <script src="~/Assets/libs/angular/angular.js"></script>
    <!--tinymce-->
    <script src="~/Assets/libs/tinymce/tinymce.js"></script>
    <script src="~/Assets/libs/tinymce/js/tinymce/langs/vi_VN.js"></script>
    <!--tags-input-->
    <script src="~/Assets/libs/ng-tags-input/ng-tags-input.min.js"></script>
    <!--angular-ui-router-->
    <script src="~/Assets/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <!--angular-ui-animate-->
    <script src="~/Assets/libs/angular-animate/angular-animate.js"></script>
    <!--angular-ui-sanitize-->
    <script src="~/Assets/libs/angular-sanitize/angular-sanitize.min.js"></script>
    <!--ui-bootstrap-tpls-->
    <script src="~/Assets/libs/ui-bootstrap-tpls/ui-bootstrap-tpls-2.5.0.js"></script>
    <!--angular-daterangepicker-->
    <script src="~/Assets/libs/angular-daterangepicker/angular-daterangepicker.min.js"></script>
    <!--toastr-->
    <script src="~/Assets/libs/toastr/toastr.js"></script>
    <!--bootbox-->
    <script src="~/Assets/libs/bootbox/bootbox.js"></script>
    <script src="~/Assets/libs/ngBootbox/ngBootbox.js"></script>
    <script src="~/Assets/libs/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="~/Assets/libs/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="~/Assets/libs/checklist-model/checklist-model.js"></script>

    <script src="~/app/shared/modules/bm-solutions.common.js"></script>
    <script src="~/app/shared/filters/statusFilter.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/directives/pagerDirective.js"></script>
    <script src="~/app/shared/directives/asDateDirective.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/authData.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/services/loginService.js"></script>
    <script src="~/app/shared/services/commonService.js"></script>
    <script src="~/app/components/duans/duans.module.js"></script>
    <script src="~/app/components/app_users/appUser.module.js"></script>
    <script src="~/app/components/lichsus/lichsu.module.js"></script>

    <script src="~/app/app.js"></script>
    <script src="~/app/components/home/rootController.js"></script>
    <script src="~/app/components/login/loginController.js"></script>
    <script src="~/app/components/duans/duanAddController.js"></script>
    <script src="~/app/components/duans/duanEditController.js"></script>
    <script src="~/app/components/app_users/appUserListController.js"></script>
    <script src="~/app/components/app_users/appUserAddController.js"></script>
    <script src="~/app/components/app_users/appUserEditController.js"></script>
    <script src="~/app/components/lichsus/lichSuGiaoDichListController.js"></script>
    <script src="~/app/components/lichsus/lichSuHeThongListController.js"></script>

    <script src="~/app/components/home/homeController.js"></script>
</body>
</html>